.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.adapter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.accessories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.grid img {
  width: 100%;
  margin-left: 100px;
}
.adapter img {
  width: 100%;
  margin-left: 100px;
}