.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.grid img {
  width: 100%;
}
.newgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.newgrid img {
  width: 100%;
margin-left:50px;
}